
<!-- <nav class="navbar gal-1">
   <div class="container-fluid">
   <h1 class="galHeader">Order furshet or banquet on your place</h1> 
   </div>
</nav> -->


<div class="container-fluid text-center">
  <h2 id="startOrder">Click on any item below to start your order</h2><br>
   <div class = "row">
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">

      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" ng-repeat="order in orderArr">
        
        <!--here will attach modal element from menuSet.html-->
       <div class="well gal-1"  data-toggle="modal" data-target="#myModal"  >
                               
            <h3>{{order.name}}</h3>
            <img ng-src="{{order.photo}}" class="img-responsive" alt="Image" ng-click="openDetails(order)">
            <p>{{order.set}}</p>
            <p>{{order.price}} <span class ="glyphicon glyphicon-ruble"></p>
            <form>
               <div class="form-group form-group-sm">
                 <label class="col-sm-5 control-label" for="sm">Quantity:</label>
                 <div class="col-sm-7">
                 <input class="form-control" type="number" placeholder="0" name="quantity" id="sm" min="0" ng-model="order.quantity"><br>
                 </div>
               </div>
                 <button type="button" class="btn submitten" ng-click="addToCart(order)">Add to my wish-list<span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></button>
            </form>
        
        </div>
      
    </div>    
    </div>

    <!--My wish-list -->
    
    <div class = "col-xs-12 col-sm-4 col-md-4 col-lg-4 table-responsive my-list" data-spy="affix" data-offset-top="30" >
     <h4 class="wish">My wish-list</h4>
      <table class="table table-hover table-striped">
          <thead> 
              <th>Position</th>
              <th>Quantity</th>
              <th>Sum</th>
              <th>Change</th>
              <th>Delete</th>
          </thead>
            <tfoot>
             <tr>
              <th></th>
              <th></th>
              <th><strong>Total: {{total()}}<span class ="glyphicon glyphicon-ruble"></span></strong> </th>
             </tr>
            </tfoot>
            <tbody>
        <tr ng-repeat="item in cartArr">
        <td>{{item.name}}</td>
        <td>{{item.quantity}}</td> 
        <td>{{item.price*item.quantity}}<span class ="glyphicon glyphicon-ruble"></td>
        <td>
          <button type="button" ng-click ="changeMinus(item)">  <span class="glyphicon glyphicon-minus" ></span></button>
          <button type="button" ng-click ="changePlus(item)">  <span class="glyphicon glyphicon-plus" ></span></button>
        </td>
        <td><button type="button" ng-click ="removeItem(item)"><span class="glyphicon glyphicon-remove" ></span></button></td>   
        
        </tr>
        </tbody>
      </table>
       <div class="btn-group">
    <button class = "btn btn-danger " type = "button" ng-click="goToDelivery()">I want to order delivery  <span class="glyphicon glyphicon-plane" ></button>
    <button class = "btn btn-danger " type = "button" ng-click="goToPickUp()">I want to pick up <span class="glyphicon glyphicon-plane" ></button>
      </div>
    
   </div> 
  
</div>
</div>


