<nav class="navbar gal-1">
   <div class="container-fluid">
   <h2 class="galHeader">Choose address of delivery and go to registation or payment</h2> 
   </div>
</nav>

<div class="container">
  <div class="row">
   <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8"> 

     <!-- GOOGLE MAP-->
   
   <div id="floating-panel">
      <input id="address" class="controls" type="text" placeholder="Enter a location" ng-model="address" />
      <input id="submit" type="button" value="To delive" ng-click="toDist()"/>
   </div>
   <div id="map" class="map"></div>
   </div>
   
   <!--Confirm Order-->
   <div class = "col-xs-12 col-sm-4 col-md-4 col-lg-4 my-list">
     
   <h4 class="wish">My order</h4>
      <table class="table table-hover table-striped">
          <thead> 
              <th>Position</th>
              <th>Quantity</th>
              <th></th>
          </thead>
            <tfoot>
             <tr>
              <th>Order Total: {{total+delivery}}<span class ="glyphicon glyphicon-ruble"></th>
              <th></th>
              <th></th>
             </tr>
            </tfoot>
            <tbody>
        <tr ng-repeat="order in orders">
        <td>{{order.name}}</td>
        <td>{{order.quantity}}</td> 
        <td></td>
        </tr>
        <tr>
          <th><strong>Order sum: {{total}}<span class ="glyphicon glyphicon-ruble"></span></strong> </th>
              <th></th>
              <th></th>
        </tr>
            <tr>
          <th>Delivery: {{delivery}}<span class ="glyphicon glyphicon-ruble"></th>
              <th></th>
              <th></th>
        </tr>
        </tbody>
      </table>
   </div>
<br>
   <div class= "text-center">
    <button type="button" class ="btn btn-danger" ng-click="goToPayment()"><span class ="glyphicon glyphicon-ok"></span>To payment</button>
   </div>
 <!-- פה Shoud be button לחזור-->
   </div> 
  </div>

