<nav class="navbar gal-1">
   <div class="container-fluid">
   <h2 class="galHeader">Choose address of delivery and go to registation or payment</h2> 
   </div>
</nav>

<div class="container">
  <div class="row">
   <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8"> 
     <!-- GOOGLE MAP-->
   <div id="map" class="map"></div>
   </div>
   
   <div class = "col-xs-12 col-sm-4 col-md-4 col-lg-4 my-list">
     <!--table with order, without buttons.  only total and names. after plus summa of delivery-->
   <h4 class="wish">My order</h4>
      <table class="table table-hover table-striped">
          <thead> 
              <th>Position</th>
              <th>Quantity</th>
              <th></th>
          </thead>
            <tfoot>
             <tr>
              <th>Order Total: {{total+500}}<span class ="glyphicon glyphicon-ruble"></th>
              <th></th>
              <th></th>
             </tr>
            </tfoot>
            <tbody>
        <tr ng-repeat="order in orders">
        <td>{{order.name}}</td>
        <td>{{order.quantity}}</td> 
        <td></td>
        </tr>
        <tr>
          <th><strong>Order sum: {{total}}<span class ="glyphicon glyphicon-ruble"></span></strong> </th>
              <th></th>
              <th></th>
        </tr>
            <tr>
          <th>Delivery: {{500}}<span class ="glyphicon glyphicon-ruble"></th>
              <th></th>
              <th></th>
        </tr>
        </tbody>
      </table>
   </div>
  
 <!-- פה Shoud be button לחזור-->
   </div> 
   
<br><br>
<div class= "text-center">
 <button type="button" class ="btn btn-danger" ng-click="goToPayment()"><span class ="glyphicon glyphicon-ok"></span>To payment</button>
</div>

</div>

