.gal-1{
    background-color: #f9d0a4;
      
}
.galHeader{
        color: #3d240b;
        text-align: center;
        font-weight: bold;
        font-size: 2.2em;
    }
#startOrder{
    font-size: 3em;
    color: #3d240b;
    font-weight: bold;
    text-align: center;
}
#reserve{
    font-size: 1.2em;
}
#dateAndTime{
    font-size: 1.2em;
}
.submitten{
    background-color: brown;
    color: #f9d0a4;
}
#map{
    width: 100%;
    height: 400px;
    background-color: #f9d0a4;
}


    