*{
  font-family: 'Lora', serif;
}
.constant{ 
      background-color: #f9d0a4;
      color: #3d240b;
      font-weight: bold;
      font-size: 1.2em;

 }
.navFoto{
  width: 150px;
  height: 150px;
  
}
 .bg-1{
  font-size: 2em;
 }
.bg-2{
    margin-top: 12px;
  }
  li a{
    margin-right: 25px;
     color: #3d240b;
  }
  .dropdown-menu li a{
    font-weight: bold;
    
  }
  .carousel-caption p{
    font-size: 0.8em;
  }
  
  
.carousel-caption h3 {
    color: #fff !important;
}

@media (max-width: 600px) {
    .carousel-caption {
        display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
}
 #foot{
      background-color: #f9d0a4;
      font-weight: bold;
      font-size: 1.2em;
      height: 70px;
 }
 #foot ul{
   text-align: center;
 }

#foot ul li{
   display: inline-block;
   padding-top: 20px;
 } 
#foot ul li a{
color: #3d240b;
margin: 60px;
}

.carousel-inner img {
    width: 85%;
    margin: auto;
}